/.venv
__pycache__
*.pyc
*.pyo
*.pyd

.env
.env.secrets
.env.secrets.*
!.env.example
!.env.secrets.backend.example
!.env.secrets.bot.example

browser.json
cookies.txt
dist/
publish.sh

backend/include/deno
backend/tmp_legacy/
backend/inline_media_legacy/
telegram-bot/data/
telegram-webapp/music-app/node_modules/
telegram-webapp/music-app/dist/
